### for loops

In [1]:
## for works on iterable . like lists , strings and etc

In [2]:
my_list = [1,2,3,4,5,'a']

In [3]:
for this_item in my_list:
    print(this_item)

1
2
3
4
5
a

In [4]:
## for ye_variable in ye_iterable :

In [8]:
for this_item in my_list:
    print(this_item)
    print(f" *2 = {this_item*2}")

1
 *2 = 2
2
 *2 = 4
3
 *2 = 6
4
 *2 = 8
5
 *2 = 10
a
 *2 = aa

In [9]:
my_list = [12, 14, 15, 20, 8]

In [13]:
count = 0
for a in my_list:
    if a%2==0:
        print(a)
        count+=1
    else:
        print(f"{a} is fard")
print(f"we have {count} even numbers")

12
14
15 is fard
20
8
we have 4 even numbers

In [14]:
my_list = [12, 14, 15, 20, 8]
for a in my_list:
    print("another number")

another number
another number
another number
another number
another number

In [15]:
## or :
my_list = [12, 14, 15, 20, 8]
for _ in my_list: ## chon ba motaghayere kari nadarim
    print("another number")

another number
another number
another number
another number
another number

In [16]:
for c in "this is test":
    print(c)

t
h
i
s

i
s

t
e
s
t

In [18]:
my_tuple=(2,8,'ali',8.1)
for yechi in my_tuple:
    print(yechi)

2
8
ali
8.1

In [22]:
people = (("mahdi",28),("sina" , 12),("sahar",26))
## tuple unpacking
for person in people:
    name , sen = person
    print(f"{name} is {sen} years old")
print("------")
# another way
for name , sen in people:
    print(f"{name} is {sen} years old")

mahdi is 28 years old
sina is 12 years old
sahar is 26 years old
------
mahdi is 28 years old
sina is 12 years old
sahar is 26 years old

In [24]:
## 
people ={
    "mahdi":(28,180),
    "sina":(12,120),
    "sahar":(26,170)
}

for person in people:
    print(person) ## key haro bar migardone

mahdi
sina
sahar

In [25]:
## 
people ={
    "mahdi":(28,180),
    "sina":(12,120),
    "sahar":(26,170)
}

for person in people:
    print(person, people[person])

mahdi (28, 180)
sina (12, 120)
sahar (26, 170)

In [26]:
people ={
    "mahdi":(28,180),
    "sina":(12,120),
    "sahar":(26,170)
}

for person in people:
    print(person, people[person][0])

mahdi 28
sina 12
sahar 26

In [27]:
for person in people.items():
    print(person)

('mahdi', (28, 180))
('sina', (12, 120))
('sahar', (26, 170))

In [28]:
for person,data in people.items(): ## people.keys() halate normaleshe
    print(person , data)

mahdi (28, 180)
sina (12, 120)
sahar (26, 170)

In [29]:
for person in people.values():
    print(person)

(28, 180)
(12, 120)
(26, 170)

In [32]:
for i in range(1, 4):
    print(i * 2)

2
4
6

In [33]:
words = ["Python", "is", "awesome"]
result = ""

for word in words:
    result += word[0]

print(result)

Pia

In [34]:
## exercise

In [51]:
n = int(input('please enter  number of iteration : '))

please enter  number of iteration : 5

In [52]:
x = int(input('please enter your x : '))

please enter your x : 10

In [54]:
for num in range(1,n+1):
    if x % 2 == 0:
        x = x / 2
    else:
        x = (x * 2) - 1
print(x)

65.0

### While loops

 #### while condition :

In [56]:
a=0
while a<=5:
    print(f"a is {a}")
    a+=1

a is 0
a is 1
a is 2
a is 3
a is 4
a is 5

In [57]:
## exercise

In [67]:
n = int (input("please enter your number : "))

please enter your number : 5

In [68]:
while n!=1:
    if n % 2 == 0:
        n = n /2 
    else :
        n = (n * 3)+1
    print(n)

16
8.0
4.0
2.0
1.0

### Pass / Break / continue

In [69]:
## pass do nothing

In [70]:
for a in [1,2,3]:
    #

IndentationError: expected an indented block (1239700563.py, line 2)

In [71]:
for a in [1,2,3]:
    pass

In [73]:
print("starting")
for a in [1,2,3,4,5,6]:
    if a ==3:
        break
    print(a)
print("Ending")

starting
1
2
Ending

In [75]:
for a in [1,2,3,4,5,6]:
    print("loop starting")
    if a ==3:
        continue
    print(a)
    print("loop Ending")

loop starting
1
loop Ending
loop starting
2
loop Ending
loop starting
loop starting
4
loop Ending
loop starting
5
loop Ending
loop starting
6
loop Ending

In [76]:
## hop example : bakhsh pazir bar 3 hop bar 5 hip bar hardo hip hop

In [78]:
n=0
while n<=20:
    n+=1
    if n % 3 == 0 and n % 5 == 0:
        print("hiphop")
        continue
    if n % 3 == 0 :
        print("hop")
        continue
    if n % 5 == 0:
        print("hip")
        continue
    print(n)

1
2
hop
4
hip
hop
7
8
hop
hip
11
hop
13
14
hiphop
16
17
hop
19
hip
hop

### list comprehension

In [88]:
l = [0,0.45,9,-1 , 10]

In [80]:
new_l = []

In [81]:
for n in l:
    new_l.append(n*2)
print(new_l)

[0, 0.9, 18, -2]

In [82]:
new_l2 = [x * 2 for x in l]

In [83]:
new_l2

[0, 0.9, 18, -2]

In [84]:
## list = [kari ke mikaim bokonim for var in list]

In [85]:
## bi rabt
a = 5
res = "Fard" if a % 2 != 0 else "Zoj"
print(res)

Fard

In [89]:
new_l2 = [n for n in l if n % 2 ==0]

In [90]:
new_l2

[0, 10]

In [91]:
new_l2 = ["zoj" if n%2==0 else "Fard"  for n in l]

In [92]:
new_l2

['zoj', 'Fard', 'Fard', 'Fard', 'zoj']

#### Some more operators

In [93]:
## range

In [94]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [96]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [97]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [99]:
for i in range(6):
    for j in range(6):
        print(i , j , i*j , end=" ****** \n")

0 0 0 ******
0 1 0 ******
0 2 0 ******
0 3 0 ******
0 4 0 ******
0 5 0 ******
1 0 0 ******
1 1 1 ******
1 2 2 ******
1 3 3 ******
1 4 4 ******
1 5 5 ******
2 0 0 ******
2 1 2 ******
2 2 4 ******
2 3 6 ******
2 4 8 ******
2 5 10 ******
3 0 0 ******
3 1 3 ******
3 2 6 ******
3 3 9 ******
3 4 12 ******
3 5 15 ******
4 0 0 ******
4 1 4 ******
4 2 8 ******
4 3 12 ******
4 4 16 ******
4 5 20 ******
5 0 0 ******
5 1 5 ******
5 2 10 ******
5 3 15 ******
5 4 20 ******
5 5 25 ******

In [100]:
### Enumerate

In [101]:
l = "mahdi"
for i in range(len(l)):
    print(i , l[i])

0 m
1 a
2 h
3 d
4 i

In [104]:
enumerate(l)

In [105]:
for i, a in enumerate(l):
    print(i,a)

0 m
1 a
2 h
3 d
4 i

In [106]:
### zip

In [107]:
esm = ["mahdi","ali","sahar"]
famil = [" mh", "vh", "rh"]
for x in zip(esm,famil):
    print(x)

('mahdi', ' mh')
('ali', 'vh')
('sahar', 'rh')

In [108]:
### in

In [109]:
esm = ["mahdi","ali","sahar"]
print("mahdi" in esm)

True

In [112]:
names = ["mahdi","ali","sahar"]
people = {
    "mahdi" : {"sen": 28, "ghad": 180},
    "sahar" : {"sen": 27, "ghad": 170}
}
for name in names:
    if name in people:
        print(f"i have {name} and senesh hast : {people[name]['sen']}")
    else:
        print(f"i dont have {name}")

i have mahdi and senesh hast : 28
i dont have ali
i have sahar and senesh hast : 27

In [116]:
### max min

In [114]:
max(1,2,3,4)

4

In [115]:
min(1,2,3,4)

1

In [117]:
### random

In [118]:
from random import randint

In [125]:
#randint(start,end)

In [124]:
print(randint(1,10))

7

In [126]:
### exercise

In [131]:
number = int(input("enter a number : "))

enter a number : 15

In [132]:
if number % 3 == 0 and number % 5 == 0 :
    print("Afsanei")
elif number % 5 == 0 :
    print("nefrin shode")
elif number % 3 == 0 :
    print("jadooi")

Afsanei

In [137]:
javab = randint(1,10)

In [138]:
num = int(input("please enter a number between 1 to 10 : "))
while num != javab :
    print("you are wrong.")
    num = int(input("please enter another number : "))
print(f"You are trueeee , javab is {javab}")

please enter a number between 1 to 10 : 4
you are wrong.
please enter another number : 2
you are wrong.
please enter another number : 6
you are wrong.
please enter another number : 7
you are wrong.
please enter another number : 8
you are wrong.
please enter another number : 9
you are wrong.
please enter another number : 10
you are wrong.
please enter another number : 1
you are wrong.
please enter another number : 2
you are wrong.
please enter another number : 3
you are wrong.
please enter another number : 4
you are wrong.
please enter another number : 5
You are trueeee , javab is 5

In [140]:
javab = randint(1,10)
num = int(input("please enter a number between 1 to 10 : "))
while num != javab :
    print("you are wrong.")
    if num > javab :
        print("adade to az javab bozorgtare. ")
    elif num < javab :
        print("javab az adade to bozorgtare. ")
    num = int(input("please enter another number : "))
print(f"You are trueeee , javab is {javab}")

please enter a number between 1 to 10 : 2
you are wrong.
javab az adade to bozorgtare.
please enter another number : 10
you are wrong.
adade to az javab bozorgtare.
please enter another number : 8
you are wrong.
adade to az javab bozorgtare.
please enter another number : 3
you are wrong.
javab az adade to bozorgtare.
please enter another number : 5
you are wrong.
javab az adade to bozorgtare.
please enter another number : 6
You are trueeee , javab is 6