In [1]:
l = [1, 2, 3, 4]

In [2]:
last= l.pop()

In [3]:
last

4

In [4]:
l

[1, 2, 3]

In [5]:
help(l.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [6]:
## function

In [7]:
## def name (Parameter):
        ## TODO

In [8]:
def hello():
    print("Hello World")

In [9]:
hello()

Hello World

In [11]:
hello()

Hello World

In [16]:
def hello(name):
    '''
    this function says hello to name
    '''
    for i in range(3):
        print(f"Hello {name}")

In [17]:
hello("Ali")

Hello Ali
Hello Ali
Hello Ali

In [ ]:
## function names are snake case : my_new_funct()

In [18]:
def hello(name,n):
    '''
    this function says hello to name
    '''
    for i in range(n):
        print(f"Hello {name}")

In [20]:
hello("akbar", 5)

Hello akbar
Hello akbar
Hello akbar
Hello akbar
Hello akbar

In [21]:
def sum_of_numbers(a,b):
    result = a + b
    return result

In [23]:
my_sum = sum_of_numbers(10,20)

In [24]:
my_sum

30

In [25]:
def chandta_tosh(s, c):
    counter = 0
    for this_char in s:
        if this_char==c:
            counter += 1
    return counter

In [26]:
my_str = "this is a good example with my function"
print(chandta_tosh(my_str,'a'))

2

In [28]:
def print_times(name,n):
    for i in range(n):
        print(name)
print_times("mahdi", 5)

mahdi
mahdi
mahdi
mahdi
mahdi

In [29]:
print_times("mahdi")

TypeError: print_times() missing 1 required positional argument: 'n'

In [30]:
def print_times(name,n=1):
    for i in range(n):
        print(name)
print_times("mahdi", 5)

mahdi
mahdi
mahdi
mahdi
mahdi

In [32]:
def print_times(name,n=1): ## n=1 is default value for n
    for i in range(n):
        print(name)
print_times("mahdi")

mahdi

In [38]:
def tavan(n,t=2): ## default value for t is 2
    javab=1
    for i in range(t):
        javab *= n
    return javab

In [39]:
tavan(2,8)

256

In [40]:
tavan(3)

9

In [42]:
def is_even(n):
    return n % 2 == 0

In [44]:
def get_odds(nums):
    odds=[]
    for num in nums:
        if not is_even(num):
            odds.append(num)
    return odds
my_list= [1, 2, 4, 5, 8, 11]
print(get_odds(my_list))

[1, 5, 11]

In [41]:
### tuple out python

In [45]:
def get_odds(nums):
    count = 0
    odds=[]
    for num in nums:
        if not is_even(num):
            odds.append(num)
            count += 1
    return count, odds
my_list= [1, 2, 4, 5, 8, 11]
print(get_odds(my_list))

(3, [1, 5, 11])

In [46]:
odds_count , odds_list = get_odds(my_list)

In [47]:
odds_count

3

In [48]:
odds_list

[1, 5, 11]

In [49]:
def jam_zarb(n1,n2):
    jam = n1 + n2
    zarb = n1 * n2
    return jam , zarb
x, y = jam_zarb(3,4)

In [51]:
print(x,y,sep="->")

7->12

In [52]:
## total , average , and max

In [53]:
donation = {
    "mahdi" : 20,
    "sara": 900,
    "akbar": 12,
    "hasan": 9
}

In [72]:
def my_donation(my_di):
    total = 0
    max_person = ''
    count = 0
    max_donation = -1 ## placeholder
    for name, values in my_di.items():
        total += values
        count += 1
        if max_donation < values:
            person = name
            max_donation = values
    average = total/ count 
    return average , total , person

In [73]:
avg, total, max_person = my_donation(donation)

In [75]:
print(f"Total donation {total} , with average of {avg} , thanks to {max_person}")

Total donation 941 , with average of 235.25 , thanks to sara

In [76]:
## hads adad

In [77]:
from random import randint

In [90]:
computer = randint(1,20)

In [91]:
def guess():
    guess = int(input("please enter your guess : "))
    while guess != computer:
        if guess > computer:
            print("my number is smaller than yours. ")
        elif computer > guess:
            print("my number is bigger than yours. ")
        guess = int(input("please enter your guess : "))
    print(f"You are right and my number is {computer}")

In [92]:
guess()

please enter your guess : 18
my number is smaller than yours.
please enter your guess : 12
my number is bigger than yours.
please enter your guess : 14
my number is bigger than yours.
please enter your guess : 15
my number is bigger than yours.
please enter your guess : 16
my number is bigger than yours.
please enter your guess : 17
You are right and my number is 17

In [93]:
## this example will be continued at the end

In [94]:
## exercise 1

In [95]:
def is_positive(number):
    if number >= 0:
        return True
    else :
        return False
num1 = 5
num2 = -3
print(is_positive(num1))
print(is_positive(num2))

True
False

In [96]:
## exercise 2

In [98]:
def sum_of_squares(a,b):
    return a**2 + b**2
print(sum_of_squares(3,4))
print(sum_of_squares(5,12))

25
169

In [99]:
## guess game - with loop ke edame bedim ya na
## chand ta hads zadim ta barande beshim
## behtarin kasi ke bazi karde ki bode ?

In [1]:
from random import randint

In [2]:
computer_number = randint(1,20)

In [14]:
play_more = "yes"
while play_more == "yes":
    computer_number = randint(1,20)
    user_number = -1
    count = 0
    while user_number != computer_number:
        user_number = int(input("give me your number : "))
        count +=1
        if user_number > computer_number:
            print("Wrongggg , You go too high. ")
        elif computer_number > user_number:
            print("Wrongggg ,My number is bigger than yours. ")
    print(f"you win in {count} tries")
    play_more=input("Do you want to play more : (yes/no)")

give me your number : 14
Wrongggg , You go too high.
give me your number : 12
Wrongggg ,My number is bigger than yours.
give me your number : 13
you win in 3 tries
Do you want to play more : (yes/no)yes
give me your number : 20
Wrongggg , You go too high.
give me your number : 10
Wrongggg ,My number is bigger than yours.
give me your number : 15
Wrongggg , You go too high.
give me your number : 12
you win in 4 tries
Do you want to play more : (yes/no)yes
give me your number : 10
Wrongggg ,My number is bigger than yours.
give me your number : 15
Wrongggg , You go too high.
give me your number : 13
you win in 3 tries
Do you want to play more : (yes/no)yes
give me your number : 10
Wrongggg ,My number is bigger than yours.
give me your number : 15
Wrongggg , You go too high.
give me your number : 13
Wrongggg ,My number is bigger than yours.
give me your number : 14
you win in 4 tries
Do you want to play more : (yes/no)no

## kwargs args

In [102]:
 def zarb(*args):
        print(args)
b = zarb(1,2,3)
print(b)
a = zarb(1,2,3 , 4 ,5)
print(a)

(1, 2, 3)
None
(1, 2, 3, 4, 5)
None

In [103]:
def zarb(*args): ## harchi behesh bedim migire dige
    res = 1
    for i in args:
        res *= i
    return res
print(zarb(1,2,3,4))

24

In [104]:
def masahat(**kwargs): ## harchi behesh bedim migire dige
    print(kwargs)
masahat(tool=8,arz=20)

{'tool': 8, 'arz': 20}

In [105]:
## *args --> positional, tuple
## **kwargs --> dictionary

In [106]:
def calculate_masahat(**kwargs):
    if "tool" in kwargs:
        return kwargs['tool'] * kwargs["arz"]
    if "shoa" in kwargs:
        return kwargs["shoa"] * 3.14 * kwargs["shoa"]
print(calculate_masahat(shoa=5))

78.5

In [107]:
print(calculate_masahat(tool=4,arz=3))

12

In [118]:
## exercise

In [116]:
def sum_numbers(*args):
    items_sum = 0
    if len(args)==0:
        return 0
    else:
        for i in args:
            items_sum += i
        return items_sum

0

In [117]:
print(sum_numbers())
print(sum_numbers(5, 10, 15))
print(sum_numbers(7, 3, 2, 1, 9))

0
30
22

In [119]:
## exercise

In [120]:
def pick_evens(*args):
    ret = []
    for i in args:
        if i % 2 == 0 :
            ret.append(i)
    return ret

In [121]:
print(pick_evens(1,2,3,4,5,6))

[2, 4, 6]

In [122]:
print(pick_evens(7, 13, 19, 21))

[]

In [123]:
## exercise

In [128]:
def skyline(*args):
    highest = -1
    if len(args)==0 :
        return 0
    else :
        for i in args:
            if i > highest :
                highest = i
        return highest

In [129]:
print(skyline(3,7,15,2,9))

15

In [130]:
print(skyline(1,1,1,1))

1

In [131]:
print(skyline())

0

In [132]:
## lambda

In [133]:
## map --> function ro ro ajza list run mikone
## filter --> ajza list ro hazv mikone

In [134]:
def tavan_2(x):
    return x**2

In [136]:
a = [3, 4, 2, 8]
for i in range(len(a)):
    a[i]= tavan_2(a[i])
print(a)

[9, 16, 4, 64]

In [141]:
a = [3, 4, 2, 8]
tavan_a=map(tavan_2,a)
print(tavan_a)

<map object at 0x7ff1d1eef730>

In [139]:
for n in tavan_a:
    print(n)

9
16
4
64

In [142]:
print(list(tavan_a))

[9, 16, 4, 64]

In [143]:
## lambda
a = [3, 4, 2, 8]
tavan_a=map(lambda x:x**2,a)

In [144]:
print(list(tavan_a))

[9, 16, 4, 64]

In [145]:
## lambda Var:Var**2

In [146]:
a=[5, 6.2, 9, 9.1, 8, 4, 2.9]
def is_ashari(x):
    return not x == int(x)
print(list(filter(is_ashari,a)))

[6.2, 9.1, 2.9]

In [147]:
a=[5, 6.2, 9, 9.1, 8, 4, 2.9]
b = filter(lambda x:x!=int(x),a)
print(list(b))

[6.2, 9.1, 2.9]

In [148]:
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [149]:
## scope legb : local / enclosing function / global / built-in

In [150]:
def hello():
    name = "hassan"
    print(f"in function name is {name}")
name = "mahdi"
print(f"first, name is {name}")
hello()
print(f"second, name is {name}")

first, name is mahdi
in function name is hassan
second, name is mahdi

In [151]:
def hello():
    print(f"in function name is {name}")## az meghdar global use mikone
name = "mahdi"
print(f"first, name is {name}")
hello()
print(f"second, name is {name}")

first, name is mahdi
in function name is mahdi
second, name is mahdi

In [153]:
def hello():
    global name ## name ro kolan taghir mide
    name = "hassan"
    print(f"in function name is {name}")
name = "mahdi"
print(f"first, name is {name}")
hello()
print(f"second, name is {name}")

first, name is mahdi
in function name is hassan
second, name is hassan